:root {
    /* Colors */
    --color-main-black: #0F1419;
    --color-main-black1: #536471;
    --color-main-blue: #1D9BF0;
    --color-main-blue-hover: #E8F5FD;
    --color-main-white: #FFF;
    --color-main-grey: #EFF3F4;
    --color-main-grey1: #F0F2F2;
    --color-main-grey2: #F7F9F9;
    --color-main-grey3: #E8E9E9;
    --color-main-red: #F41928;
    --color-main-red1: #F0DBDD;
    --color-main-red2: #F7D6DA;

    /* Font Format */
    --font-size-default: 15px;
    --font-size-small: 9px;
    --font-size-middle: var(--font-size-default);
    --font-size-large: 20px;

    --box-shadow-default: rgba(50, 50, 93, 0.25) 0 10px 10px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;

    /* Responsibility */
    --resulation-mobile-max-width: 820px;
}

@font-face {
    font-family: "TwitterChirp";
    src: url('../assets/fonts/TwitterChirp/Chirp Web.ttf') format("truetype");
}

@font-face {
    font-family: "TwitterChirpMedium";
    src: url('../assets/fonts/TwitterChirp/Chirp Web Medium.ttf') format("truetype");
}

@font-face {
    font-family: "TwitterChirpBold";
    src: url('../assets/fonts/TwitterChirp/Chirp Web Bold.ttf') format("truetype");
}

@font-face {
    font-family: "TwitterChirpHeavy";
    src: url('../assets/fonts/TwitterChirp/Chirp Web Heavy.ttf') format("truetype");
}
